/*reset*/
html{color:#333;}
body{font-size:12px;line-height:1.8em;font-family:Tahoma,Arial;background:#eee;position: relative;}
html,body{height:100%;background-color:#ddd;overflow-x:hidden;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd,pre{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, b, i{font-style:normal;font-weight:normal;}
li{list-style-image:none;list-style-position: outside;list-style-type:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;vertical-align:baseline;zoom:1;}
input, textarea, select, button{font-size: 12px;color:#bbb;font-weight:inherit; vertical-align:middle;outline:none;border:0;}
input[type=radio], input[type=checkbox]{vertical-align: middle; margin-right:5px;}
textarea{resize:none;}
input[type=text],input[type=password],textarea, input[type=text]:focus, input[type=password]:focus, textarea:focus, button, button:focus, input[type=number]:focus,input[type=number]{appearance: none;appearance:none;-webkit-appearance:none;-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*base*/
a{text-decoration:none; color:#aaa;}
a:focus{outline-style:none;outline-width:0;}
a:link, a:visited, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.underline{text-decoration:underline!important;}
.bold{font-weight:bold;}
.floatleft{float:left!important;}
.floatright{float:right!important;}
.aligncenter{text-align:center;}
.alignright{text-align:right!important;}
.alignleft{text-align:left!important;}
.forcewrap{word-wrap:break-word;word-break:break-all;text-overflow:hidden;overflow:hidden;}
.borderless{border: none;}
label.checkbox,label.radio,label.text{padding-left:4px;vertical-align:top;}
.breakword{word-wrap:break-word;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.noboder{border:0!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart15{margin-top:15px!important;}
.mart20{margin-top:20px!important;}
.mart30{margin-top:30px!important;}
.mart40{margin-top:40px!important;}
.mart50{margin-top:50px!important;}
.mart70{margin-top:70px!important;}
.mart80{margin-top:80px!important;}
.marl10{margin-left:10px!important;}
.marr5{margin-right:5px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marr35{margin-right:35px!important;}
.marl5{margin-left:5px!important;}
.marl15{margin-left:15px!important;}
.marl20{margin-left:20px!important;}
.marl30{margin-left:30px!important;}
.color-black{color:#000;}
.color-a{color:#aaa!important;}
.color-3{color:#333!important;}
.color-6{color:#666!important;}
.color-9{color:#999!important;}
.color-white{color:#fff!important;}
.floatleft{float: left;}
.floatright{float: right;}
/*width*/
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top15{padding-top:15px!important;}
.p-top20{padding-top:20px!important;}
.p-top25{padding-top:25px!important;}
.p-top30{padding-top:30px!important;}
.p-top40{padding-top:40px!important;}
.p-top50{padding-top:50px!important;}
.p-top80{padding-top:80px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt20{padding-bottom:20px!important;}
/*font-size*/
.font9{font-size:9px!important;}
.font10{font-size:10px!important;}
.font11{font-size:11px!important;}
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font15{font-size:15px!important;}
.font16{font-size:16px!important;}
.font17{font-size:17px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font22{font-size:22px!important;}
.font25{font-size:24px!important;}
.font24{font-size:25px!important;}
.font30{font-size:30px!important;}
.l_th{text-decoration:line-through!important;}
.txt_hidden{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
.block{display: block;}
.inlineblock{display: inline-block;}
.nobg{background:none!important;}
.nobgimg{background-image:none!important;}
.bgwhite{background:#fff;}
.strong{font-weight: bold;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
.color-3{color:#333;}
.color-6{color:#666;}
.color-9{color:#999;}
.btn{display: block;text-align: center;}
/*图标*/
.icon{display:inline-block;font-size:0;line-height:0;background-repeat: no-repeat;background-position:center center;}
.icon-1,.icon-2{width:40px;height:40px;background-color:#fff;background-image:url(../img/icon-1.png);background-size:65%;}
.icon-2{background-image:url(../img/icon-2.png);}
.icon-clear{width:20px;height:20px;position:absolute;background-image:url(../img/clear.png);background-size:65%;}
.icon-back{height:49px;width:50px;position:absolute;top:0;left:0;background-color:#f6f6f6;background-image: url(../img/icon-back.png);background-size:45%;}
.icon-userB,.icon-more{width:50px;height:49px;background-image: url(../img/icon-user.png);background-size:25px;background-position:15.5px center;}
.icon-more{background-image: url(../img/icon-more.png);background-position:10.5px center;}
.icon-home{background-image: url(../img/icon-home.png);}
.current .icon-home{background-image: url(../img/icon-home-h.png);}
.icon-friend{background-image: url(../img/icon-3-big.png);}
.icon-friends{background-image: url(../img/icon-group.png);}
.icon-msg{background-image: url(../img/icon-5.png);}
.icon-plus{background-image: url(../img/icon-plus.png);border:3px solid #eee6fd;border-radius:50%;background-color: #633eb0;}
.icon-3,.icon-4{width:14px;height:14px;background-image:url(../img/icon-3.png);background-size:100%;}
.icon-4{background-image:url(../img/icon-4.png);}
.icon-arrow-t{width:14px;height:10px;background-image: url(../img/arrow-t.png);position: absolute;top:-10px;left:10px;background-size:100%;}
.icon-arrow-t{width:11px;height:10px;background-image: url(../img/arrow-t.png);position: absolute;top:-9.5px;left:10px;background-size:100%;}
.icon-eye{background-image:url(../img/icon-eye.png);}
.icon-change{background-image:url(../img/icon-change.png);}
.icon-arrow-t{width:14px;height:10px;background-image: url(../img/arrow-t.png);position: absolute;top:-10px;left:10px;background-size:100%;}


/*启动登陆注册页面*/
.begin{height:100%;background: url(../img/pageone.jpg);background-size:100% auto;}
.logo,.logo img{width:200px;}
.logo{position: fixed;left:50%;margin-left:-100px;top:33%;}
.version{display:block;height:20px;line-height:20px;width:40px;text-align:center;color:#bf9eca;position: fixed;left:50%;margin-left:-20px;bottom:10px;}
.loginBox{height:100%;padding:0 30px;;position: relative;background:#000;}
.loginTop{padding-top:20%;}
.userImg{width:106px;height:106px;margin:0 auto;border:2.5px solid #fff;border-radius:50%;background: #d9d9d9 url(../img/photode.png) no-repeat center center;background-size:55%;box-shadow: 0 0 1px #dacbe3;}
.loginTop .userImg img{width:106px;height:106px;border-radius:50%;}
.loginBtn{display:block;height:50px;line-height:50px;margin-top:10%;background:#16c1f3;border-radius:30px;color:#fff;}
.loginInt{margin-top:15%;}
.loginInt p{position: relative;}
.loginInt input{width:100%;height:30px;line-height:38px;border-bottom:1px solid #eee;display:block;text-indent:40px;font-size:14px;}
.loginInt p .icon{position: absolute;top:-2px;left:0;}
.loginInt p .icon-clear{left:inherit;right:10px;top:50%;margin-top:-10px;display: none;}
.bottomBtn{position:fixed;bottom:0;left:30px;right:30px;bottom:10px;}
.bottomBtn a{display: inline-block;width:42%;height:39px;line-height:39px;border:1px solid #aaa;border-radius:30px;}
.bottomBtn span{display: inline-block;height:40px;border-left:1px solid #d9d9d9;position: absolute;left:50%;margin-left:-1px;}
.change{color:#3875a9;}

.header{height:49px;line-height:49px;border-bottom:1px solid #b2b2b2;background:#fff;position:fixed;left:0;top:0;right:0;color:#000;position:relative;}
.main{width:100%;}
.title{height:40px;line-height: 40px;color:#666;}
.inputList{border:1px solid #d9d9d9;border-width:1px 0;background:#fff;padding-left:15px;}
.inputList li{height:45px;line-height: 45px;border-bottom:1px solid #d9d9d9;}
.inputList li:last-child{border:0;}
.inputList li span.lable{line-height: 45px;color:#2a2a2a;font-size:16px;}
.inputList li input,.inputList li .placeTxt{width:70%;height:45px;line-height:45px;font-size:14px;float: right;margin-right:15px;color:#8d8d8d;}
.inputList li .placeTxt{width:60%;background: url(../img/arrow-r.png) right center no-repeat;background-size:8px;padding-right:20px;}
.btnBottom{width:100%;background:#16c1f3;height:50px;line-height:50px;color:#fff;position:absolute;bottom:0;}
.getNum{display:inline-block;height:40px;line-height:40px;padding:0 20px;border-radius:3px;background:#812990;color:#fff;}
/*理财室*/
.nav{width:65%;margin:0 auto;padding-top:10px;position: absolute;left:50%;margin-left:-31.5%;}
.nav li{display:inline-block;float:left;width:32%;height:27px;line-height:27px;border:1px solid #812990;text-align: center;color:#812990;}
.nav li.current{background:#812990;color:#fff;}
.nav li:first-child{border-radius:30px 0 0 30px;}
.nav li:nth-child(2){border-width:1px 0;}
.nav li:nth-child(3){border-radius:0 30px 30px 0;}
.footer{height:49px;border-top:1px solid #b2b2b2;position: fixed;width:100%;left:0;bottom:0;background-color:#f6f6f6;}
.footer span{display:inline-block;width:20%;height:44px;padding-top:5px;font-size:10px;text-align: center;float: left;}
.footer span i.icon{display:block;width:25px;height:25px;margin:0 auto;background-size:100%;}
.footer span i.icon.icon-plus{width:38px;height:38px;background-size:70%;margin-top:-2px;}
.footer span i.icon.icon-plus{width:38px;height:38px;background-size:70%;margin-top:-3px;}
.personBoard{background:#f9f9f9;border-bottom:1px solid #b2b2b2;padding-bottom:10px;overflow: hidden;margin-top:-30%;}
.topImg {position: relative;}
.topImg img{width:100%;}
.imgMask{width:100%;height:90px;background:url(../img/imgMask.png) no-repeat 50% bottom;background-size:156%;position: absolute;bottom:0;left:0;}
.userPhoto img{width:70px;height:70px;border-radius:50%;}
.userInfo{padding:0 10px;color:#9b9b9b;}
.userInfo .font17{color:#2a2a2a;padding:5px 0 5px 0;}
.userInfo .floatright p{line-height:32px;}
.userInfo .floatright p .icon{margin-bottom:-2px;}
.signature{height:28px;line-height:28px;position:relative;border:1px solid #d9d9d9;border-radius:30px;margin:0 10px;text-indent:10px;background:#fff;}
.cardBox{margin:5px;}
.oneCard{background:#fff;border:1px solid #d6d6d6;border-bottom:1px solid #a7a7a7;border-radius:3px;min-height:100px;position: relative;}
.oneCard .title{height:20px;line-height:20px;padding:5px 10px;}
.tips,.tip,.tipsBig{display:inline-block;height:20px;line-height:22px;margin-left:-11px;background:#fc7864;color:#fff;padding:0 10px 0 7px;border-radius:2px 20px 20px 2px;}
.oneCard em{color:#9c66ab;padding-left:5px;}
.tip{height:17px;line-height:18px;padding:0 6px;color:#633eb0;border:1px solid #633eb0;border-radius:3px;background:#fff;margin-left:10px;position:relative;top:-1px;}
.tipsBig{height:40px;line-height:40px;border-radius:30px 2px 2px 30px;margin:0 -12px 0 0;padding-left:24px;font-family: impact;}
.cardBottom{border-top:1px solid #dadada;height:35px;line-height:35px;}
.cardBottom i.icon{width:40px;height:35px;background-size:20px;}









