<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<title>评论</title>
	</head>
	<body>
		<div class="main">
			<section class="commentTop">
				<span><i class="icon icon-con"></i>15</span>
				<span class="current" title="点赞的时候给这个span加个current，图标就变色了"><i class="icon icon-zan"></i>1235</span>
				<span class="floatright font14">赞一个</span>
			</section>
			<ul class="inputList feedList">
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷这个理财产品太炫酷这个理财产品太炫酷这个理财产品太炫酷这个理财产品太炫酷这个理财产品太炫酷了！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
