<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/jquery.js" ></script>
		<script type="text/javascript" src="../../js/active.js" ></script>
		<title>添加理财产品</title>
	</head>
	<body>
		<header class="header">
			<span class="icon icon-back floatleft"></span>
			<!--<span class="headerBtn prev_step aligncenter">上一步</span>-->
			<h1 class="aligncenter font17">添加产品</h1>
			<span class="headerBtn aligncenter">下一步</span>
			<!--<span class="headerBtn aligncenter">发布</span>-->
		</header>
		<div class="main p-bt10 Ios_scroll" style="top:50px;bottom:50px;">
			<ul class="inputList mart15">
				<li class="clearfix ">
					<span class="lable">产品类型</span>
					<span class="alignright placeTxt">理财产品</span>
				</li>
			</ul>
			<ul class="inputList mart15">
				<li class="clearfix">
					<span class="lable">代码</span>
					<input type="tel" class="alignright" placeholder="未填写"/>
					<label class="lableTxt">请填写正确的机构代码</label>
				</li>
				<li class="clearfix">
					<span class="lable">名称</span>
					<input type="password" class="alignright" placeholder="未填写"/>
					<label class="lableTxt">请填写正确发行机构</label>
				</li>
				<li class="clearfix has-error">
					<span class="lable">发行机构</span>
					<span class="alignright placeTxt">请选择</span>
					<label class="lableTxt">请填写正确发行机构</label>
				</li>
				<li class="clearfix">
					<span class="lable">收益类型</span>
					<span class="alignright placeTxt">请选择</span>
				</li>
				<li class="clearfix">
					<span class="lable">起购金额</span>
					<input type="password" class="alignright" placeholder="未填写"/>
				</li>
				<li class="clearfix">
					<span class="lable">募集起止日期</span>
					<span class="alignright placeTxt" style="width:52%;">2015-8-1  至  2015-10-1</span>
				</li>
				<li class="clearfix">
					<span class="lable">计息天数</span>
					<input type="password" class="alignright" placeholder="未填写"/>
				</li>
				<li class="clearfix intTwo alignright">
					<span class="lable floatleft">预期收益率</span>
					<input type="text" class="alignright" placeholder="未填写"/>
					<span class="">~</span>
					<input type="text" class="alignright" placeholder="未填写"/>
				</li>
			</ul>
			<ul class="inputList textareaLi mart15">
				<li class="clearfix noboder">
					<span class="lable">产品描述</span>
					<p><textarea></textarea></p>
					<p class="alignright marr15 font15">100</p>
				</li>
			</ul>
			<ul class="inputList imgList mart15">
				<li class="clearfix noboder Ios_scroll" style="overflow-y: hidden;">
					<div class="ImgBox" style="width:1000px">
						<img src="../../img/3.jpg">
						<img src="../../img/4.jpg">
						<img src="../../img/3.jpg">
						<img src="../../img/4.jpg">
					</div>
				</li>
			</ul>
		</div>
		<!--添加产品的底部begin-->
		<footer class="footer footerInner  clearfix" title="加上hide，就会显示原来的footer">
			<span class="floatleft marl15">增加产品详情</span>
			<span class="floatright marr15">使用图片</span>
		</footer>
		<!--添加产品的底部over-->
	</body>
</html>
