<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/jquery.js" ></script>
		<script type="text/javascript" src="../j../s/active.js" ></script>
		<title>理财室-已下架</title>
	</head>
	<body>
		<div class="main">
			<!--搜索begin-->
			<div class="searchBar" style="margin-top:-45px;" title="默认不显示，下拉页面时候改margin-top为0显示出来，上滑的时候改成-45隐藏">
				<input type="text" class="current font14" placeholder="搜索" title="当input foucs和不为空的时候加current">
			</div>
			<!--搜索over-->
			<div class="cardBox">
				<div class="oneCard">
					<p class="font11 title color-a alignright">
						<span class="tips floatleft strong">理 财</span>
						<span class="floatleft marl5">1小时前更新</span>
						<span>关联自<em>Brad Pitt</em></span>
					</p>
					<p class="color-3 marl10 font17 mart10 strong">鑫晟财富2014004号集合</p>
					<p class="color-3 marl10 mart5 font17 strong">资金信托计划<span class="tip font12">未过期</span></p>
					<div class="clearfix mart5">
						<span class="font14 floatleft inlineblock marl10 p-top25 color-9">期限:<em class="color-6">35 - 365天</em></span>
						<div class="floatright alignright marr10">
							<p class="font11 color-a">预计年化率</p>
							<span class="tipsBig font25 color-white">4.64 - 6.85<em class="font14 color-white">%</em></span>
						</div>
					</div>
					<div class="cardBottom clearfix alignright mart10">
						<span class="clearfix floatleft"><i class="icon icon-eye floatleft"></i><em class="color-9 floatleft">1,2983</em></span>
						<span class="clearfix floatleft"><i class="icon icon-change floatleft"></i><em class="color-9 floatleft">823</em></span>
						<span><i class="icon icon-comment"></i></span>
					</div>
				</div>
				<div class="oneCard">
					<p class="font11 title color-a alignright">
						<span class="tips tips-j floatleft strong">基 金</span>
						<span class="floatleft marl5">1小时前更新</span>
						<span>关联自<em>Brad Pitt</em></span>
					</p>
					<p class="color-3 marl10 font17 mart10 strong">鑫晟财富2014004号集合</p>
					<p class="color-3 marl10 mart5 font17 strong">资金信托计划<span class="tip tip-over font12">已过期</span></p>
					<div class="clearfix mart5">
						<span class="font14 floatleft inlineblock marl10 p-top25 color-9">期限:<em class="color-6">35 - 365天</em></span>
						<div class="floatright alignright marr10">
							<p class="font11 color-a">基金类型</p>
							<span class="tipsBig tips-j font20 color-white strong">股票型</em></span>
						</div>
					</div>
					<div class="cardBottom clearfix alignright mart10">
						<span class="clearfix floatleft"><i class="icon icon-eye floatleft"></i><em class="color-9 floatleft">1,2983</em></span>
						<span class="clearfix floatleft"><i class="icon icon-change floatleft"></i><em class="color-9 floatleft">823</em></span>
						<span><i class="icon icon-comment"></i></span>
					</div>
				</div>
				<div class="oneCard">
					<p class="font11 title color-a alignright">
						<span class="tips tips-x floatleft strong">信 托</span>
						<span class="floatleft marl5">1小时前更新</span>
						<span>关联自<em>Brad Pitt</em></span>
					</p>
					<p class="color-3 marl10 font17 mart10 strong">鑫晟财富2014004号集合</p>
					<p class="color-3 marl10 mart5 font17 strong">资金信托计划<span class="tip font12">已过期</span></p>
					<div class="clearfix mart5">
						<span class="font14 floatleft inlineblock marl10 p-top25 color-9">期限:<em class="color-6">35 - 365天</em></span>
						<div class="floatright alignright marr10">
							<p class="font11 color-a">预计年化率</p>
							<span class="tipsBig tips-x font20 color-white">6.85<em class="font14 color-white">%</em></span>
						</div>
					</div>
					<div class="cardBottom clearfix alignright mart10">
						<span class="clearfix floatleft"><i class="icon icon-eye floatleft"></i><em class="color-9 floatleft">1,2983</em></span>
						<span class="clearfix floatleft"><i class="icon icon-change floatleft"></i><em class="color-9 floatleft">823</em></span>
						<span><i class="icon icon-comment"></i></span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
