<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<title>重置密码</title>
	</head>
	<body>
		<header class="header">
			<span class="icon icon-back"></span>
			<h1 class="aligncenter font17">密码重置</h1>
		</header>
		<div class="main">
			<p class="title font14 aligncenter">请重置您的密码</p>
			<ul class="inputList">
				<li class="clearfix">
					<span class="lable font16">新密码</span>
					<input type="password" class="alignright" placeholder="8-20位，必须含有字母+数字" />
				</li>
				<li class="clearfix">
					<span class="lable font16">确认密码</span>
					<input type="password" class="alignright" placeholder="请再次输入密码"/>
				</li>
			</ul>
		</div>
		<span class="btn btnBottom font16">完&nbsp;&nbsp;成</span>
	</body>
</html>
