<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<title>评论</title>
	</head>
	<body>
		<div class="main">
			<div class="oneCard detail">
				<div class="font11 title color-a alignright">
					<span class="tips floatleft strong">理 财</span>
					<span class="color-3 font17 strong txt_hidden" style="width:86%;">鑫晟财富2014004号集合资金信托计划</span>
				</div>
				<div class="clearfix mart5">
					<span class="font14 floatleft inlineblock marl10 color-6">期限:<em class="color-6">35 - 365天</em></span>
					<div class="floatright alignright marr10">
						<p class="font11 color-a">预计年化率</p>
						<span class="tipsBig font25 color-white">4.64 - 6.85<em class="font14 color-white">%</em></span>
					</div>
				</div>
				<div class="cardBottom clearfix alignright mart10">
					<span class="floatleft color-a marl10">1小时前更新</span>
					<span class="clearfix "><i class="icon icon-eye floatleft"></i><em class="color-9 floatleft">1,2983</em></span>
					<span class="clearfix marr10"><i class="icon icon-change floatleft"></i><em class="color-9 floatleft">823</em></span>
				</div>
			</div>
			<section class="commentTop">
				<span><i class="icon icon-con"></i>15</span>
				<span class="current" title="点赞的时候给这个span加个current，图标就变色了"><i class="icon icon-zan"></i>1235</span>
				<span class="floatright font14">赞一个</span>
			</section>
			<ul class="inputList feedList">
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft"><em class="nameSpan">刘德华</em>回复<em class="nameSpan">王佳</em></span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<pre>刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德华刘德</pre>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">这个理财产品太炫酷了！</p>
					</div>
				</li>
			</ul>
		</div>
		<!--产品评论的底部begin-->
		<footer class="footer footerInner clearfix " style="height:auto;min-height:49px;">
			<div class="commentInt floatleft" contenteditable="true"></div>
			<!--<textarea class="commentInt textarea floatleft" placeholder=""></textarea>-->
			<a class="btnSend floatleft">发 送</a>
		</footer>
		<!--产品评论的底部over-->
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<!--<script src='../../js/autosize.js'></script>
		<script type="text/javascript">
			$(function() {
				autosize(document.querySelectorAll('.textarea'));
			});
		</script>-->
	</body>
</html>
