<!DOCTYPE html>
<html>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../js/jquery.js" ></script>
		<script type="text/javascript" src="../js/active.js" ></script>
		<title>产品详情-多个</title>
	<body>
		<header class="header">
			<span class="icon icon-back floatleft"></span>
			<h1 class="aligncenter font17">产品详情</h1>
			<span class="icon icon-more floatright" title="更多"></span>
		</header>
		<div class="main Ios_scroll" style="top:50px;bottom:50px;">
			<div class="oneCard detail mart10">
				<div class="font11 title color-a alignright">
					<span class="tips floatleft strong">理 财</span>
					<span class="color-3 font17 strong txt_hidden" style="width:86%;">鑫晟财富2014004号集合资金信托计划</span>
				</div>
				<div class="clearfix mart5">
					<span class="font14 floatleft inlineblock marl10 color-6">期限:<em class="color-6">35 - 365天</em></span>
					<div class="floatright alignright marr10">
						<p class="font11 color-a">预计年化率</p>
						<span class="tipsBig font25 color-white">4.64 - 6.85<em class="font14 color-white">%</em></span>
					</div>
				</div>
				<div class="cardBottom clearfix alignright mart10">
					<span class="floatleft color-a marl10">1小时前更新</span>
					<span class="clearfix "><i class="icon icon-eye floatleft"></i><em class="color-9 floatleft">1,2983</em></span>
					<span class="clearfix marr10"><i class="icon icon-change floatleft"></i><em class="color-9 floatleft">823</em></span>
				</div>
			</div>
			<ul class="inputList ulBg detail mart10">
				<li class="clearfix">
					<span class="lable color-3 txt_hidden">鑫晟财富2014004号集合资金信托计划资金信托计划资金信托计划</span>
					<span class="Profit">预期收益：10293元</span>
				</li>
				<li class="clearfix noboder nobg">
					<div class="">
						<p class="font20 color-3">2015-8-1</p>
						<p>募集截止日期</p>
					</div>
					<div class="">
						<p class="font22 color-3">1,000,000</p>
						<p>起购金额<i class="font9">(元)</i></p>
					</div>
					<div class="">
						<p class="font22">6.25</p>
						<p>预计年收益率<i class="font9">(%)</i></p>
					</div>
				</li>
			</ul>
			<ul class="inputList ulBg detail mart10">
				<li class="clearfix">
					<span class="lable color-3 txt_hidden">鑫晟财富2014004号集合资金信托计划</span>
				</li>
				<li class="clearfix noboder nobg">
					<div class="">
						<p class="font20 color-3">2015-8-1</p>
						<p>募集截止日期</p>
					</div>
					<div class="">
						<p class="font22 color-3">1,000,000</p>
						<p>起购金额<i class="font9">(元)</i></p>
					</div>
					<div class="">
						<p class="font22">6.25</p>
						<p>预计年收益率<i class="font9">(%)</i></p>
					</div>
				</li>
			</ul>
			<ul class="inputList ulBg detail mart10">
				<li class="clearfix">
					<span class="lable color-3">鑫晟财富2014004号集合资金信托计划</span>
				</li>
				<li class="clearfix noboder nobg">
					<div>
						<p class="font20 color-3">2015-8-1</p>
						<p>募集截止日期</p>
					</div>
					<div class="">
						<p class="font22 color-3">1,000,000</p>
						<p>起购金额<i class="font9">(元)</i></p>
					</div>
					<div class="">
						<p class="font22">6.25</p>
						<p>预计年收益率<i class="font9">(%)</i></p>
					</div>
				</li>
			</ul>
			<ul class="inputList mart10">
				<li class="clearfix noboder">
					<span class="lable">产品描述</span>
					<p class="font15 txt">述我是个描述我是个描述我是个描述我是个描述我是个描述我是个描述</p>
				</li>
			</ul>
		</div>
		<!--产品详情底部上拉查看图片详情 begin-->
		<footer class="footer footerInner clearfix"><p class="aligncenter font14 color-8"><img src="../../img/top_arrow.png" width="20" class="marr10">上拉查看图片详情</p></footer>
		<!--产品详情底部上拉查看图片详情 over-->
	</body>
</html>
