<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
	<body>
		<div class="main bgwhite">
			<!--搜索begin-->
			<div class="searchBar" style="margin-top:-45px;" title="默认不显示，下拉页面时候改margin-top为0显示出来，上滑的时候改成-45隐藏">
				<input type="text" class="langTxt font14 " placeholder="手机号/姓名/昵称" title="当input foucs和不为空的时候加current">
			</div>
			<!--搜索over-->
			<div class="friend_list mart10 marl10">
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
						<div class="floatleft marl15 font13">
							<p class="font17">Bruce Zhang</p>
							<p>北京银行西城支行</p>
							<p class="font11"><i class="icon icon-7"></i>互相关注</p>
						</div>
						<div class="floatright alignright color-6">
							<p>168<i class="icon icon-3 marl5"></i></p>
							<p class="mart10">2882<i class="icon icon-4 marl5"></i></p>
						</div>
					</div>
					<div class="signature mart5 font12 color-6"><i class="icon icon-arrow-t"></i>走路太骚会摔跤，得瑟过劲必闪腰</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
						<div class="floatleft marl15 font13">
							<p class="font17">liu dehua</p>
							<p>北京银行西城支行</p>
							<p class="font11"><i class="icon icon-8"></i>我已关注</p>
						</div>
						<div class="floatright alignright color-6">
							<p>168<i class="icon icon-3 marl5"></i></p>
							<p class="mart10">2882<i class="icon icon-4 marl5"></i></p>
						</div>
					</div>
					<div class="signature mart5 font12 color-6"><i class="icon icon-arrow-t"></i>走路太骚会摔跤，得瑟过劲必闪腰</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
						<div class="floatleft marl15 font13">
							<p class="font17">Bruce Zhang</p>
							<p>北京银行西城支行</p>
							<p class="font11"><i class="icon icon-9"></i>关注了我</p>
						</div>
						<div class="floatright alignright color-6">
							<p>168<i class="icon icon-3 marl5"></i></p>
							<p class="mart10">2882<i class="icon icon-4 marl5"></i></p>
						</div>
					</div>
					<div class="signature mart5 font12 color-6"><i class="icon icon-arrow-t"></i>走路太骚会摔跤，得瑟过劲必闪腰</div>
				</section>
			</div>
		</div>
	</body>
</html>
