body{overflow-y: auto;height:auto;}
.page1,.page2,.page3{position: relative;}
.page1{padding:50px 0;z-index: 1111;}
.page2{background:#812990;padding:100px 0;}
.page3{background:#f8f8fa;}
.content{width:1000px;margin:0 auto;}
.page2 .content img{width:90%;max-width: 1000px;}
.top_bg img,.page3 img{max-width:100%;}
.top_bg{text-align: center;}
.top_bg img{width: 80%;}
.layout{position: absolute;top:50px;left:0;right:0;bottom:50px;}
.imgShow{width:440px;height:752px;background: url("../img/phone.png");position:relative;}
.imgBox{width:302px;height:534px;overflow: hidden;position: absolute;top:77px;left:71px;}
.imglist{width:999px;height:534px;position: relative;}
.imglist li{float: left;}
.page,.page_2{position: absolute;width:100%;bottom:0;}
.page_2{bottom:40px;left: 0;}
.page dd,.page_2 dd{display:inline-block;width:14px;height:14px;background: url("../img/icon.png") -40px 0;cursor: pointer;margin:0 5px;}
.page dd.current,.page_2 dd.current{background-position:-40px -14px;}
.banner{overflow: hidden;padding:90px 0;}
.BannerShow{position: relative;width:9999px;}
.BannerShow li{width:1000px;float: left;}

.download{display:inline-block;width:230px;height:60px;line-height:60px;color:#fff;background:#727171;border-radius:50px;font-size:20px;position: relative;}
.download:hover,.downloadCode:hover{opacity:0.9;}
.icon{display:inline-block;width:40px;height:40px;font-size: 0;line-height:0;background: url("../img/icon.png") no-repeat;vertical-align: middle;margin-right:12px;transition: 0.3s;-webkit-transition: 0.3s;position:relative;}
.icon-ios{background-position:0 0;}
.icon-a{background-position: 0 -40px;}
.prev_1,.next_1{width:40px;height:100px;background-position:0 -220px;position: absolute;top:50%;margin-top:-50px;cursor: pointer;z-index:10;}
.prev_1{left:20px;}
.next_1{right:20px;background-position:-40px -220px;}
.icon-1,.icon-2,.icon-3,.icon-4{width:40px;height:41px;background-position:0 -320px;}

a:hover .icon-1{background-position:-40px -320px;}
.icon-2{background-position:0 -361px;}
a:hover .icon-2{background-position:-40px -361px;}
.icon-3{background-position:0 -402px;}
a:hover .icon-3{background-position:-40px -402px;}
.icon-4{background-position:0 -443px;}
a:hover .icon-4{background-position:-40px -443px;}
.downloadCode{display:inline-block;width:70px;height:70px;position: relative;}
.downloadCode .icon-ios{width:70px;height:70px;background-position:0 -80px;}
.downloadCode .icon-a{width:70px;height:70px;background-position: 0 -150px;}
.download .icon{margin:0 20px;top:-3px;}
.download2{background:#98d462;}
.code{display:none;position:absolute;z-index:10;width:150px;height:150px;left:50%;margin-left:-80px;top:80px;padding:10px;background:#f5f5f5;border-radius:3px;box-shadow:0 0 3px #999;z-index: 1000;}
.code img{width:150px;height:150px;}
.page4 .code{top:-180px;}
.arrow{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #f5f5f5;position: absolute;top:-10px;left:50%;margin-left:-10px;}
.page4{border-top:1px solid #d9d9d9;padding:30px 0;}
.page4 .downloadCode{width:40px;height:41px;margin:20px 10px;}
.page4{position: relative;}
.page4 .top_bg{width:100%;position: absolute;top:0px;bottom:0px;z-index:-1;}
.page4 .top_bg img{max-width:1300px;}
.mask_p{width:188px;height:615px;position:absolute;z-index:3;top:9px;right:57px;}






