<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<title>消息提醒</title>
	</head>
	<body>
		<div class="main">
			<!--搜索begin-->
			<div class="searchBar" style="margin-top:0;" title="默认不显示，下拉页面时候改margin-top为0显示出来，上滑的时候改成-45隐藏">
				<input type="text" class="langTxt font14 " placeholder="手机号/姓名/昵称" title="当input foucs和不为空的时候加current">
			</div>
			<!--搜索over-->
			<ul class="inputList ulBg mart-1 ulIcon nopadding">
				<li class="clearfix">
					<i class="icon icon-msg-big floatleft"></i>
					<span class="lable floatleft">评论</span>
				</li>
				<li class="clearfix">
					<i class="icon icon-earth floatleft"></i>
					<span class="lable floatleft">访问</span>
				</li>
				<li class="clearfix">
					<i class="icon icon-link2 floatleft"></i>
					<span class="lable floatleft">关联</span>
				</li>
				<li class="clearfix">
					<i class="icon icon-hand3 floatleft"></i>
					<span class="lable floatleft">点赞</span>
				</li>
			</ul>
			<ul class="inputList feedList mart20">
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">跟你私信说点什么好呢，扯会儿蛋吧！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/2.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">跟你私信说点什么好呢?...扯会儿蛋吧跟你私信说点什么好呢?...扯会儿蛋吧跟你私信说点什么好呢?...扯会儿蛋吧！</p>
					</div>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../../img/3.jpg"></span>
					<div class="marl60 marr10">
						<p class="font12 alignright clearfix">
							<span class="font17 floatleft">刘德华</span>
							<span class="color-a">下午6:44</span>
						</p>
						<p class="font14 color-9">跟你私信说点什么好呢，扯会儿蛋吧！</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
