<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<title>访问记录</title>
	<body>
		<div class="main bgwhite">
			<div class="friend_list  marl10">
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">客户</p>
						</div>
						<div class="floatright mart15 color-9">
							<p class="font11 alignright">6小时前访问了你</p>
						</div>
					</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/2.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">客户</p>
						</div>
						<div class="floatright mart15 color-9">
							<p class="font11 alignright">6小时前访问了你</p>
						</div>
					</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">客户</p>
						</div>
						<div class="floatright mart15 color-9">
							<p class="font11 alignright">6小时前访问了你</p>
						</div>
					</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/2.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">客户</p>
						</div>
						<div class="floatright mart15 color-9">
							<p class="font11 alignright">6小时前访问了你</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</body>
</html>
