<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/jquery.js" ></script>
		<script type="text/javascript" src="../../js/autosize.js" ></script>
		<script>
			$(function(){
				autosize(document.querySelectorAll('.textarea'));
			});
		</script>
		<title>评论记录</title>
	<body>
		<div class="main bgwhite">
			<div class="friend_list commentList marl10">
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/1.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">客户</p>
						</div>
						<div class="floatright color-9">
							<p class="font11 alignright">6小时前</p>
							<p class="color-6">今天心情不错今天心情不错今错今今天...</p>
						</div>
					</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/2.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">客户</p>
						</div>
						<div class="floatright color-9">
							<p class="font11 alignright">6小时前</p>
							<p class="color-6">今天心情不错!</p>
						</div>
					</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/4.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">同行</p>
						</div>
						<div class="floatright color-9">
							<p class="font11 alignright">6小时前</p>
							<p class="color-6">今天心情不错!</p>
						</div>
					</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/3.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">同行</p>
						</div>
						<div class="floatright color-9">
							<p class="font11 alignright">6小时前</p>
							<p class="color-6">今天心情不错!</p>
						</div>
					</div>
				</section>
				<section class="personBoard">
					<div class="userInfo mart5 clearfix">
						<span class="userPhoto floatleft"><img src="../../img/2.jpg"></span>
						<div class="floatleft marl15 mart10 font13">
							<p class="font17">Bruce Zhang</p>
							<p class="mart10">同行</p>
						</div>
						<div class="floatright color-9">
							<p class="font11 alignright">6小时前</p>
							<p class="color-6">今天心情不错!</p>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!--产品评论的底部begin-->
		<footer class="footer footerInner clearfix" title="加上hide，就会显示原来的footer" style="height:auto;">
			<textarea class="commentInt textarea floatleft" style="height:15px;min-height: 15px;" placeholder=""></textarea>
			<a class="btnSend floatleft">发 送</a>
		</footer>
		<!--产品评论的底部over-->
	</body>
</html>
