<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<script type="text/javascript" src="../js/jquery.js" ></script>
		<script type="text/javascript" src="../js/active.js" ></script>
		<title>添加理财产品</title>
	</head>
	<body>
		<div class="main p-bt10">
			<ul class="inputList productList mart15">
				<li class="clearfix current">
					<span class="icon icon-replace"></span>
					<span class="icon icon-delete"></span>
					<span class="lable txt_hidden block">鑫晟财富2014004号集合资金信托计划</span>
					<span class="icon icon-move"></span>
				</li>
				<li class="clearfix move">
					<span class="icon icon-replace"></span>
					<span class="icon icon-delete"></span>
					<span class="lable">鑫晟财富2014004号集合</span>
					<span class="icon icon-move"></span>
				</li>
				<li class="clearfix">
					<span class="icon icon-replace"></span>
					<span class="icon icon-delete"></span>
					<span class="lable ">鑫晟财富</span>
					<span class="icon icon-move"></span>
				</li>
				<li class="clearfix">
					<span class="icon icon-replace"></span>
					<span class="icon icon-delete"></span>
					<span class="lable ">鑫晟财富</span>
					<span class="icon icon-move"></span>
				</li>
				<li class="clearfix">
					<span class="icon icon-add"></span>
					<span class="lable color-a">空</span>
				</li>
			</ul>
		</div>
	</body>
</html>
