<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<script type="text/javascript" src="../js/jquery.js" ></script>
		<script type="text/javascript" src="../js/active.js" ></script>
		<title>footer</title>
		<script>
			// H5 plus事件处理
			function plusReady(){
				var workHead = plus.webview.create("header.html", "platform_head", {
						top: "0px",
						bottom: "50px",
						scrollIndicator: 'vertical'
					});
					workHead.addEventListener("loaded", function() { //叶面加载完成后才显示
						 plus.webview.currentWebview().append(workHead);
				}, false);
			}
			if(window.plus){
				plusReady();
			}else{
				document.addEventListener("plusready",plusReady,false);
			}
		</script>
	</head>
	<body class="androidMain">
		<footer class="footer clearfix">
			<span><i class="icon icon-home"></i>理财室</span>
			<span class="current"><i class="icon icon-friend"></i>同行好友</span>
			<span id="plus" class=""><i class="icon icon-plus"></i></span>
			<span><i class="icon icon-friends"></i>客户好友</span>
			<span><i class="icon icon-msg"></i>消息提醒<i class="icon icon-p" style="width:8px;height:8px;"></i></span>
		</footer>
		<!--查看别的理财室的底部begin-->
		<footer class="footer footerInner aligncenter clearfix" style="display: none;bottom:0;">
			<span class="nofloat block width-auto">使用图片</span>
		</footer> 
		<footer class="footer footerInner clearfix" style="display: none;bottom:0;">
			<span class="floatleft marl15">增加产品详情</span>
			<span class="floatright">使用图片</span>
		</footer>
		<footer class="footer footerInner footerThree hide clearfix" title="" style="display: none;bottom:0;">
			<span class="floatleft">关注</span>
			<span class="floatleft">私信TA</span>
			<span class="floatright">拉黑TA</span>
		</footer>
		<footer class="footer footerInner footerFour hide clearfix" title="" style="display: none;bottom:0;">
			<span class="floatleft">关注</span>
			<span class="floatleft">私信TA</span>
			<span class="floatleft">私信TA</span>
			<span class="floatright">拉黑TA</span>
		</footer>
		<!--查看别的理财室的底部over-->
		<!--产品评论的底部begin-->
		<footer class="footer footerInner clearfix hide" title="加上hide，就会显示原来的footer" style="height:auto;display: none;">
			<textarea class="commentInt textarea floatleft" placeholder=""></textarea>
			<a class="btnSend floatleft">发 送</a>
		</footer>
		<!--产品评论的底部over-->
		<!--footer begin-->
		<footer class="footer footerMask" style="display: none;"></footer>
		<footer class="footer footerOpactiy" style="display: none;"></footer>
		<footer class="footer footerInner footerThree hide nobg clearfix" title="加上hide，就会显示原来的footer">
			<span class="floatleft ">关注</span>
			<span class="floatleft ">私信TA</span>
			<span class="floatright ">拉黑TA</span>
		</footer>
		<!--footer over-->

	</body>
</html>