<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<title>header2</title> 
		<script>
			// H5 plus事件处理
			function plusReady(){
				var main = plus.webview.create("理财室-在售.html", "platform_head", {
						top: "50px",
						bottom: "0px",
						scrollIndicator: 'vertical'
					});
					main.addEventListener("loaded", function() { //叶面加载完成后才显示
						 plus.webview.currentWebview().append(main);
				}, false);
			}
			if(window.plus){
				plusReady();
			}else{
				document.addEventListener("plusready",plusReady,false);
			}
		</script>
	</head>
	<body>
		<header class="header">
			<span class="icon icon-back floatleft"></span>
			<!--<span class="headerBtn prev_step aligncenter">上一步</span>-->
			<h1 class="aligncenter font17">添加产品</h1>
			<!--<span class="headerBtn aligncenter">下一步</span>-->
			<span class="headerBtn aligncenter">发布</span>
		</header>
	</body>
</html>
