<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<title>客户好友</title>
	</head>
	<body>
		<div class="main">
			<!--搜索begin-->
			<div class="searchBar" style="margin-top:0;" title="默认不显示，下拉页面时候改margin-top为0显示出来，上滑的时候改成-45隐藏">
				<input type="text" class="langTxt font14 " placeholder="手机号/姓名/昵称" title="当input foucs和不为空的时候加current">
			</div>
			<!--搜索over-->
			<p class="checkWord marl10 font14 color-8">A</p>
			<ul class="inputList feedList mart-1">
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/1.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
					<span class="addBtn nobg noboder color-b">等待验证</span>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/2.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/3.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/2.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/3.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
				</li>
			</ul>
			<p class="checkWord marl10 font14 color-8">B</p>
			<ul class="inputList feedList mart-1">
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/1.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/2.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
				</li>
				<li class="clearfix">
					<span class="userPhoto floatleft"><img src="../img/3.jpg"></span>
					<p class="mart15"><span class="font16 marl10">Bruce Zhang</span></p>
				</li>
			</ul>
		</div>
		<!--字母检索begin-->
		<div class="wordCheck">
			<span>A</span>
			<span>B</span>
			<span>C</span>
			<span>D</span>
			<span>E</span>
			<span>F</span>
			<span>G</span>
			<span>H</span>
			<span>I</span>
			<span>J</span>
			<span>K</span>
			<span>L</span>
			<span>M</span>
			<span>N</span>
		</div>		
		<!--字母检索over-->
	</body>
</html>
