<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<title>找回密码</title>
	</head>
	<body>
		<header class="header">
			<span class="icon icon-back"></span>
			<h1 class="aligncenter font17">找回密码</h1>
		</header>
		<div class="main">
			<p class="title font14 aligncenter">请通过手机验证您的身份</p>
			<ul class="inputList">
				<li class="clearfix noboder">
					<span class="lable">国家地区</span>
					<span class="alignright placeTxt">中国+86</span>
				</li>
				<li class="clearfix">
					<span class="lable">手机号码</span>
					<input type="password" class="alignright" placeholder="请输入手机号码"/>
				</li>
				<li class="clearfix">
					<span class="lable">验证码</span>
					<input type="password" class="alignright" placeholder="请输入短信验证码"/>
				</li>
			</ul>
			<p class="alignright mart10"><span class="font15 getNum marr10">获取短信验证码</span></p>
		</div>
		<span class="btn btnBottom font16">下一步</span>
	</body>
</html>
