<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<title>注册如意门</title>
	</head>
	<body>
		<header class="header">
			<span class="icon icon-back"></span>
			<h1 class="aligncenter font17">注册如意门</h1>
		</header>
		<div class="main">
			<ul class="inputList mart15">
				<li class="clearfix noboder">
					<span class="lable">国家地区</span>
					<span class="alignright placeTxt">中国+86</span>
				</li>
				<li class="clearfix">
					<span class="lable">手机号码</span>
					<input type="password" class="alignright" placeholder="请输入手机号码"/>
				</li>
				<li class="clearfix">
					<span class="lable">验证码</span>
					<input type="password" class="alignright" placeholder="请输入短信验证码"/>
				</li>
			</ul>
			<p class="alignright mart10"><span class="font15 getNum marr10">获取短信验证码</span></p>
			<ul class="inputList mart15">
				<li class="clearfix">
					<span class="lable">姓名</span>
					<input type="password" class="alignright" placeholder="未填写" />
				</li>
				<li class="clearfix noboder">
					<span class="lable">新密码</span>
					<input type="password" class="alignright" placeholder="8-20位，必须含有字母+数字" />
				</li>
				<li class="clearfix">
					<span class="lable">确认密码</span>
					<input type="password" class="alignright" placeholder="请再次输入密码"/>
				</li>
			</ul>
		</div>
		<span class="btn btnBottom font16">完成注册</span>
	</body>
</html>
