<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<title>理财室-在售中</title>
	</head>
	<body>
		<header class="header clearfix">
			<span class="icon icon-userB floatleft"></span>
			<ul class="nav font13 aligncenter clearfix">
				<li class="current">在售中</li>
				<li>收藏夹</li>
				<li>已下架</li>
			</ul>
			<span class="icon icon-more floatright"></span>
		</header>
		<div class="main">
			
		</div>
		<footer class="footer clearfix">
			<span class="current"><i class="icon icon-home"></i>理财室</span>
			<span><i class="icon icon-friend"></i>同行好友</span>
			<span><i class="icon icon-plus"></i></span>
			<span><i class="icon icon-friends"></i>客户好友</span>
			<span><i class="icon icon-msg"></i>消息提醒</span>
		</footer>
	</body>
</html>
