<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<title>选择项列表</title>
	</head>
	<body>
		<div class="main">
			<ul class="inputList checkList">
				<li class="clearfix choosed">
					<span class="lable txt_hidden">朝阳区工体北路分部1</span>
				</li>
				<li class="clearfix ">
					<span class="lable txt_hidden">朝阳区工体北路分部22</span>
				</li>
				<li class="clearfix ">
					<span class="lable txt_hidden">朝阳区工体北路分部333</span>
				</li>
				<li class="clearfix ">
					<span class="lable txt_hidden">朝阳区工体北路分部444</span>
				</li>
			</ul>
		</div>
	</body>
</html>
